plugins/.registry
nbproject
lib/vendor
cache
log
web/uploads
apps/frontend/config/app.yml
apps/frontend/config/settings.yml
apps/backend/config/app.yml
apps/backend/config/settings.yml
config/databases.yml
