/*Slider*/
 .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
 .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}

.camera_wrap {
	display: none;
	z-index:999;
	min-height:340px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    width: 100%;
	position: relative;
}

.cameraCont, .cameraContents {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 1;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

.camera_src {
	display: none;
}

.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
#slide { height:347px; position:relative; z-index:999;}
.items { display:none;}

.pagination { display:none;}

.banner{width: 100%; position:absolute; bottom:0px; left:0; z-index:111;  background:url(../images/banner.png) 0 0 repeat; overflow:hidden; }
.banner p {padding:16px 20px 18px 18px;}
.banner strong {font-family: 'Orbitron', sans-serif; display:block; font-size:14px; line-height:18px; color:#fff; font-weight:bold; margin-bottom:5px; } 
.banner a {display:inline-block; font-size:10px; line-height:12px; color:#8f8e8d; font-weight:normal;background:url(../images/marker.gif) right 3px no-repeat; padding-right:7px;}
.banner a:hover {color:#fff;}


