@import"reset.css";@import"skeleton.css";@import"superfish.css";@import"forms.css";@import"ui.totop.css";
@import url(http://fonts.googleapis.com/css?family=Orbitron:400,700);
body{font:10px/16px Arial, Helvetica, sans-serif;color:#696969; text-transform:uppercase; position:relative;min-width:960px; background: url(../images/bg.gif) 0 0 repeat-x #ffffff;}

html, body{height:100%;}
.main {padding-top:38px;}


a[href^="tel:"]{color: inherit; text-decoration:none;} 
* {-webkit-text-size-adjust: none;}
/*****************GoogleFont*****************/
h1,h2,h3,h4,h5,h6, ul.sf-menu>li>a, .form-title, #form1 label>span, a.button, button.button, .text-1, .box-4 li span, dl.adrss dt  {font-family: 'Orbitron', sans-serif;}
/********************************************/
p{}
h2{line-height:1.2em; font-size:19px; color:#434242; font-weight:normal; text-transform:uppercase;}
h3{line-height:1.2em; font-size:12px; color:#434242; font-weight:normal; text-transform:uppercase;}

.langs {
    margin-bottom: 10px;
    margin-right: 10px;
}
.langs a {
    color: black
}
.langs a:hover,
.langs a.active
{
    color: white
}

a {text-decoration:none; color:#e99039;}
button.button {
    border: 0;
}
a.button, button.button {display:inline-block; font-size:12px; line-height:15px; color:#fff; font-weight:bold; background:url(../images/button.jpg) 0 0 repeat-x #1b1b1b; padding:9px 12px 9px 12px; text-align:center; }
a.button:hover, button.button:hover {color:#959494; -webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}

a.link {font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:16px; color:#434242; display:inline-block;}
a.link:hover {text-decoration:underline;}

a.link-2 {font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:17px; color:#fff; background:#9a9a9a; display:inline-block; padding:5px 7px 4px 7px;}
a.link-2:hover {background:#000;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}

a.link-3 {font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:16px; color:#434242;}
a.link-3>span {display:inline-block; height:5px; width:3px; background:url(../images/marker-1.gif) 0 0 no-repeat; margin:5px 0 0 8px;}
a.link-3:hover { text-decoration:underline;}

a.link-4 { color:#2e2e2e; text-decoration:underline;}
a.link-4:hover {text-decoration:none;}

a.link-pdf { color:#2e2e2e; line-height:16px; padding:4px 27px 4px 0; text-decoration:underline; display:inline-block; background:url(../images/pdf.png) right 0 no-repeat; margin-bottom:8px;}
a.link-pdf:hover {text-decoration:none;}

ul {margin:0; padding:0;list-style-image:none;}
ul.list-1 li {padding:0px 0 8px 15px; font-size:10px; color:#696969; line-height:16px; background:url(../images/marker-1.png) 0 6px no-repeat;}
ul.list-1 li a { color:#696969; }
ul.list-1 li a:hover {text-decoration:underline;}

/* Global Structure---------------------------------------- */
.wrap {overflow:hidden;}
.wrapper {overflow:hidden;}
.extra-wrap{overflow:hidden;display:block;}
.fleft{float:left}
.fright{float:right}
.clear {clear:both; float:none !important}
.alignright{text-align:right}
.aligncenter{text-align:center}
.alignmiddle *{vertical-align:middle}
.img-indent {float:left; margin:0px 20px 0px 0;}
.last {margin-right:0px !important;}
.line-height {line-height:20px;}
.nowrap {white-space:nowrap;}
.upper {text-transform:uppercase;}

.text-1 {display:block; color:#969696; font-size:17px; line-height:22px;}

.clr-1 {}
a.clr-1:hover {}

.top { margin-top:4px;}
.top-2 { margin-top:30px;}
.top-3 { padding-top:14px !important;}
.top-4 { margin-top:0px;}
.top-5 { margin-top:0px;}
.top-6 { margin-top:0px;}
.top-7 { margin-top:0px;}
.top-8 { margin-top:0px;}

.left-1 {padding-left:0px;}

.right-1 {padding-right:0px;}

.bot-0 {padding-bottom:0 !important; margin-bottom:0 !important;}
.bot-1 {padding-bottom:0px;}

.pad-1 {padding:14px 20px 20px 20px;}

.p1 {margin-bottom:12px;}
.p2 {padding-bottom:26px;}
.p3 {margin-bottom:27px;}
.p4 {padding-bottom:21px;}
.p5 {padding-bottom:15px;}
.p6 {padding-bottom:16px;}
.p7 {padding-bottom:10px;}
.p8 {padding-bottom:22px;}


/*********************************header*************************************/

header {margin:0 auto; background:url(../images/header.jpg) 0 0 repeat-x #1b1b1b; text-transform:uppercase;}
.header-block {overflow:hidden; color:#939292; padding:10px 18px 12px 20px;}
.header-block .fleft {padding-top:1px;}
.header-block .fright {font-size:12px;}
nav {position:relative; z-index:101; display:block; border-top:#2f2e2e 1px solid;}
header h1 {display:block; float:left; margin:24px 0 0 28px;overflow: hidden;}

.logo {
	text-indent: -1000px;
	width: 151px;
	height: 39px;
	display: inline-block;
	background: url(../images/logo.png) 0 0 no-repeat;
}

.txtlogo {
    display: inline-block;
    height: 80px;
    width: 300px;
    color: #FFFFE1;
    font-size: 58px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 58px;
    padding-top: 8px;
}
.txtlogo span {
    display: block;
    font-size: 13px;
    line-height: 13px;
    color: #8f8f8f;
    letter-spacing: 5px;
    font-weight: bold;
}

.txtlogo:hover {
    color: gray;
    text-decoration: none;
}

/********************** Content ************************/
section{ position:relative; z-index:1;}
#content { width:100%; padding-bottom:30px; padding-top:26px; }
.main-content {padding-top:30px !important;}
.bg-white {background:#fff;}

.h2-border {background:url(../images/h2-border.png) 0 bottom repeat-x; padding-bottom:7px; display:block; overflow:hidden;}
.h2-border .link {float:right; margin-top:3px;}

div.pagination {display:block; text-align:center;}

ul#details-thumbnails li:nth-child(5n) {
    margin-left: 0;
}

table#details-table tr td:first-child{
    font-weight: bolder
}

.box-1 {overflow:hidden;}
.box-1 ul {float:left; width:290px; margin-right:30px;}
.box-1 ul li {display:block; margin-top:29px; padding-top:30px; border-top:#e0e0e0 1px solid;}
.box-1 ul li:first-child {border-top:none; margin-top:0;}
.box-1 h3 {margin:26px 0 15px 0;}
.price {font-size:22px; line-height:28px; color:#696969;}
.price span {display:inline-block; font-size:10px; line-height:12px; color:#a1a0a0; margin:12px 0 0 15px;}
.box-1 .price {margin:11px 0 14px 0;}

ul.box-2 li {display:block; margin-top:24px; padding-top:30px; border-top:#e0e0e0 1px solid;}
ul.box-2 li:first-child {border-top:none; margin-top:0;}
ul.box-2 p {margin-top:16px;}

.box-3 {overflow:hidden;}
.box-3 ul.search-results {overflow:hidden;}
.box-3 ul.search-results li {display:block; margin-top:34px; padding-top:27px; border-top:#e0e0e0 1px solid; overflow:hidden;}
.box-3 ul.search-results li:first-child {border-top:none; margin-top:0;}
.box-3 h3 {margin:0px 0 14px 0;}
.box-3 img {float:left; margin:0 30px 0 0;}
.box-3 .price {margin:11px 0 14px 0;}

.page2-banner1 {background: url(../images/page2-banner-1.jpg) right bottom no-repeat #fff; padding:14px 20px 50px 20px;}
.page2-banner1 a {margin-top:16px;}

.page2-banner2 {background: url(../images/page2-banner-2.jpg) right bottom no-repeat #fff; padding:14px 20px 50px 20px;}
.page2-banner2 a {margin-top:16px;}

.pdf {padding:11px 0 11px 0;}

.box-4 {padding-bottom:30px;}
.box-4 li {display:block; overflow:hidden; margin-top:20px;}
.box-4 li:first-child {margin-top:0;}

.box-4 li span {
    background: url("../images/number.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 24px;
    height: 35px;
    line-height: 29px;
    margin: 4px 10px 0 0;
    padding-top: 4px;
    text-align: center;
    width: 39px;
}
.box-4 li p {overflow:hidden;}

.lists {overflow:hidden; line-height:24px; margin-top:10px; margin-bottom:18px;}
.lists>div {float:left; width:210px; margin-right:30px;}
.lists>div p {overflow:hidden;}
.lists>div p span:first-child {float:left; display:inline-block;}
.lists>div p span+span {float:right; display:inline-block;}





.ui-datepicker-trigger {
	width: auto !important;
}


/******* forms *******/
.form-title {color:#2e2e2e; font-size:24px; line-height:30px; }
.form-title>span {display:block; color:#969696; font-size:17px; line-height:22px; margin-top:-4px;}
#form1{margin-top:12px;}
	#form1 label{ display:block; position:relative; padding-bottom:17px;}
	#form1 label>span {display:block; font-size:12px; line-height:15px; color:#696969; font-weight:bold; margin-bottom:7px;}
	#form1 .select1 {width:100%; display:block; font-weight:normal;}
	#form1>a {display:block; margin-top:4px;}
	
.col-1 {float:left; width:220px; margin-right:20px; display:block; font-weight:normal;}	
.col-2 {float:left; width:170px;  display:block; font-weight:normal;}	

#form2{margin-top:8px;}
#form2 p {padding-bottom:6px;}

	#form2 .label{ display:block; position:relative; padding-bottom:10px;}
	#form2 .inp-1 {float:left; border:#d0d0d0 1px solid; width:98px; height:13px; font-size:10px; color:#696969; text-transform:uppercase;  padding:5px 10px 6px 10px; outline:none;}
	#form2 .inp-2 {float:left; border:#d0d0d0 1px solid; width:248px; height:13px; font-size:10px; color:#696969; text-transform:uppercase;  padding:5px 10px 6px 10px; outline:none;}
	#form2 span {display:inline-block; font-size:10px; line-height:13px; color:#696969; float:left; width:80px; margin-top:6px;}
	#form2 .select1 {width:90px !important; display:block; font-weight:normal; float:left;}
	#form2 .select2 {width:270px !important; display:block; font-weight:normal; float:left;}
	#form2>a { margin-top:19px;}
	#form2 textarea {border:#d0d0d0 1px solid; background:#fff; -webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box; width:100%; padding:9px 0px 0px 10px; font-size:10px; text-transform:uppercase; color:#696969; font-family:Arial, Helvetica, sans-serif; height: 155px; outline: medium none; overflow: auto; resize:none; float:left;}
	#form2 .clear {font-size:0 !important; line-height:0 !important; float:none !important; margin:0 !important; display:block;}

/******************** Footer ******************/
footer { margin:0 auto; position:relative; padding:0px 0 28px 0; font-size:10px; line-height:13px; font-family:Arial, Helvetica, sans-serif; color:#74726e;overflow:hidden;  }
footer a { color:#696969; margin-left:12px;}
footer a:hover {text-decoration:underline;}
footer .grid_12 {
	padding-top: 27px;
	border-top:#e0e0e0 2px solid;
}

/**********************form**********************/
.map {width:410px; height:369px; margin:0px 20px 20px 0; float:left; display:inline-block; }
.map iframe {width:410px; height:369px; }
dl.adrss { width:180px; overflow:hidden;float: left; }
dl.adrss dt {margin-bottom:13px; font-size:12px; line-height:16px; }
dl.adrss dd {}
dl.adrss dd span { display:block; width:70px; float:left;}
dl.adrss dd a {}
dl.adrss dd a:hover {}





/******************** Responsive ******************/



@media only screen and (min-width: 768px) and (max-width: 1024px) {
 body {
min-width:768px;
}

.box-1 ul {
    width: 261px;
}

}

@media only screen and (max-width: 995px) {
 body{min-width:768px;}

.box-1 ul {
    width: 231px;
}

ul.sf-menu > li > a {
    font-size: 13px;
    padding: 26px 13px 30px;
}

.box-3 img {
    float: none;
    margin: 0 30px 15px 0;
}

.camera_wrap {
    min-height: 240px;
}

.page2-banner2,
.page2-banner1 {
	padding: 0;
	background: none;
}

.lists > div {
    float: none;
    width: 100%;
}

.map {
	margin: 0 0 20px 0;
	float: none;
	width: 100%;
}


.map iframe {
    width: 100%;
}

}

@media only screen and (max-width: 800px) {
.box-1 ul {
    width: 230px;
}

ul.sf-menu > li > a {
    font-size: 12px;
    padding: 26px 16px 30px;
}

.camera_wrap {
    min-height: 200px;
}

}
 @media only screen and (max-width: 767px) {
body {
min-width:420px;
}

 .box-1 ul {
    float: none;
    margin-right: 0px;
    width: 100%;
}

.camera_wrap {
    min-height: 200px;
}



}

@media only screen and (min-width: 480px) and (max-width: 767px) {
 body {
min-width:420px;
}

.floatright {float:left;}
.floatleft {float:right;}

nav select {
    outline:none;
	display: block !important;
	height:25px;
	line-height:25px;
	padding:0 0 4px;
}

.camera_target_content {
	display: none;
}

nav select option {
	text-transform: none;
}

img {
	width:100%;
	height:auto;
}

.camera_wrap {
	min-height: 150px;
}

nav {
	float: none;
}

.header-block .fleft,
.header-block .fright {
	float: none;
	display: block;
	text-align: center;
}

.box-1 ul {
    float: none;
    margin-right: 0px;
    width: 100%;
}

.pad-1 {
	padding: 0;
}

.page2-banner2,
.page2-banner1 {
	padding: 0;
}

#form2 .inp-1 {
	margin-bottom: 5px;
}

.lists > div {
    float: none;
    width: 100%;
}

.map {
	margin: 0 0 20px 0;
	float: none;
	width: 100%;
}


.map iframe {
    width: 100%;
}

}
 @media only screen and (max-width: 479px) {

	 .inner-block {
	padding:0 10px;
}

body {
min-width:300px;
}

img {
	width:100%;
	height:auto;
}

.camera_wrap {
	min-height: 100px;
}

nav {
	float: none;
}

.header-block .fleft,
.header-block .fright {
	float: none;
	display: block;
	text-align: center;
}

header h1 {
	text-align: center;
	margin-bottom: 20px;
	float: none;
	margin-left: 0;
}

nav select option {
	text-transform: none;
}

.camera_target_content {
	display: none;
}

.box-1 ul {
    float: none;
    margin-right: 0px;
    width: 100%;
}

.pad-1 {
	padding: 0;
}

.page2-banner2,
.page2-banner1 {
	padding: 0;
	background: none;
}

#form2 .inp-1 {
	margin-bottom: 5px;
}

a.link-pdf {
    display: block;
    margin-bottom: 0;
}

.lists > div {
    float: none;
    width: 100%;
}

.map {
	margin: 0 0 20px 0;
	float: none;
	width: 100%;
}


.map iframe {
    width: 100%;
}

.box-3 img {
    float: none;
    margin: 0 30px 15px 0;
}
	}
        
        
